<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthCheckSuite -Chrome</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:44:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:42:55</td>   <td>-80807</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:43:52</td>   <td>-23431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">loginWithValidCredentials</td> 
  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:45:02</td>   <td>46772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">logoutValidations</td> 
  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:44:13</td>   <td>-2615</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">navigateToAlertManager</td> 
  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>18/09/19 15:44:13</td>   <td>-2648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>18/09/19 15:44:15</td>   <td>-23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>18/09/19 15:45:02</td>   <td>46663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>18/09/19 15:45:09</td>   <td>53763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 15:45:09</td>   <td>53763</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@130161f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1459345543</td>   <td></td> </tr>
</table>
