<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Competitor(s) Performance</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Competitor Performance type selected - Specific Competitor(s)</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM Local</td></tr>
<tr><td>Selecting Competitor set Dropdown</td></tr>
<tr><td>Selected Competitor set Dropdown</td></tr>
<tr><td>Verifying fields under SEM Local</td></tr>
<tr><td>clicked</td></tr>
<tr><td>Fields under SEM Local are verified</td></tr>
<tr><td>Validating Search of Keyword Group for SEM local</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - </td></tr>
<tr><td>Verified fields under SEM Local</td></tr>
<tr><td>Selecting Target Setting for SEM Local</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>selecting Metrics and Thresholds</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>