<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>VerifyAlertTable.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/>VerifyAlertTable.editDeleteExtra(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/>VerifyAlertTable.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/></td></tr>
<tr><td>Sanity</td><td>VerifyAlertTable.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/>VerifyAlertTable.editDeleteExtra(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/>VerifyAlertTable.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]<br/></td></tr>
</table>
