<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.verifyAlertPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.navigateToAlertManager</td></tr>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.verifyAlertTableSort</td></tr>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.waitForTableToLoad</td></tr>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.searchforAlert</td></tr>
</table>