<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DeleteAlerts</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>18/02/06 17:22:58</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyAlertTable.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/06 17:23:24</td>   <td>26061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">loginWithValidCredentials</td> 
  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/02/06 17:24:36</td>   <td>97936</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/06 17:24:36</td>   <td>97954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.editDeleteExtra(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">editDeleteExtra</td> 
  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/02/06 17:25:26</td>   <td>148610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/06 17:25:27</td>   <td>148991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">logoutValidations</td> 
  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/02/06 17:25:34</td>   <td>155850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@19724564</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/06 17:25:34</td>   <td>155850</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VerifyAlertTable.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@19724564</td>   <td></td> </tr>
</table>
