<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AlertTest Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:53</td>   <td>18869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">loginWithValidCredentials</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">navigateToAlertManager</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createMyPerformanceAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">createMyPerformanceAlertCustom</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19716</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createCompetitorsPerformaceAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">createCompetitorsPerformaceAlertCustom</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createTrademarkInfringementsAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">createTrademarkInfringementsAlertCustom</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">logoutValidations</td> 
  <td>TestNG@13386588</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/12/20 15:52:54</td>   <td>19849</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@13386588</td>   <td></td> </tr>
</table>
