<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.editDeleteExtra</td></tr>
<tr><td>com.adgooroo.qa.insights.test.VerifyAlertTable.verifyAlertTableSort</td></tr>
</table>