<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Alert Table</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;VerifyAlertTable.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:27</td>   <td>5201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">loginWithValidCredentials</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">navigateToAlertManager</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">waitForTableToLoad</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">searchforAlert</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.verifyAlertPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">verifyAlertPermission</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="VerifyAlertTable.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">logoutValidations</td> 
  <td>TestNG@7831032</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/02/07 13:34:28</td>   <td>6382</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;VerifyAlertTable.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.VerifyAlertTable@767a52]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@7831032</td>   <td></td> </tr>
</table>
