<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_PositionShare</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_CalendarReport</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MissedKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOpportunities</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOpportunitiesHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiGroupComparisonHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupAdvertiserHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiGroupComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_CompetitorKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
