<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest Local Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:01</td>   <td>22875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">loginWithValidCredentials</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:03</td>   <td>24059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">loginWithValidCredentials</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:05</td>   <td>26933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">loginWithValidCredentials</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:20</td>   <td>41590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:20</td>   <td>41617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">Create_Local_KeywordAdvertisers</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:22</td>   <td>43004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:22</td>   <td>43021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">Create_Local_MultiCityKeywords</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:23</td>   <td>44727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:23</td>   <td>44744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordCreative(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">Create_Local_KeywordCreative</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:06</td>   <td>87646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:06</td>   <td>87664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">logoutValidations</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:09</td>   <td>90061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:09</td>   <td>90074</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">logoutValidations</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:09</td>   <td>90598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:09</td>   <td>90612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">logoutValidations</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:13</td>   <td>94805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:13</td>   <td>94806</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:14</td>   <td>95638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:14</td>   <td>95638</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:15</td>   <td>96351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>96351</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>96684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>96769</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:32</td>   <td>113858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">loginWithValidCredentials</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:33</td>   <td>114972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">loginWithValidCredentials</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:49</td>   <td>130718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:49</td>   <td>130734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">Create_Local_KeywordOverview</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:50</td>   <td>131108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:50</td>   <td>131116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_PositionShare(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">Create_Local_PositionShare</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:32</td>   <td>173148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:32</td>   <td>173159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">logoutValidations</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:33</td>   <td>174620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:33</td>   <td>174631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">logoutValidations</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:39</td>   <td>180309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:39</td>   <td>180309</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:39</td>   <td>180468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:39</td>   <td>180468</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
</table>
