<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest Local Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">Create_Local_KeywordAdvertisers</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:23</td>   <td>3127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordCreative(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">Create_Local_KeywordCreative</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:49</td>   <td>89117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">Create_Local_KeywordOverview</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:22</td>   <td>1404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">Create_Local_MultiCityKeywords</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:50</td>   <td>89499</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_PositionShare(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">Create_Local_PositionShare</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>-41617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>-41617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:30:39</td>   <td>-41617</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>55067</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>55152</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:01</td>   <td>-18742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">loginWithValidCredentials</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:03</td>   <td>-17558</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">loginWithValidCredentials</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:31:05</td>   <td>-14684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">loginWithValidCredentials</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:32</td>   <td>72241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">loginWithValidCredentials</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:33</td>   <td>73355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">loginWithValidCredentials</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:06</td>   <td>46047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">logoutValidations</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:09</td>   <td>48457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">logoutValidations</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:09</td>   <td>48995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">logoutValidations</td> 
  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:32</td>   <td>131542</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">logoutValidations</td> 
  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:33</td>   <td>133014</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">logoutValidations</td> 
  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:20</td>   <td>-27</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:22</td>   <td>1387</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:31:23</td>   <td>3110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:06</td>   <td>46029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:09</td>   <td>48444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:09</td>   <td>48981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:13</td>   <td>53188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:14</td>   <td>54021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:15</td>   <td>54734</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:49</td>   <td>89101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:32:50</td>   <td>89491</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:32</td>   <td>131531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:33</td>   <td>133003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:39</td>   <td>138692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 11:33:39</td>   <td>138851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:13</td>   <td>53189</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@4d9e68d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:14</td>   <td>54021</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:32:15</td>   <td>54734</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@1ea9f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@883295946</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:39</td>   <td>138692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@7fa98a66]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@827196462</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 11:33:39</td>   <td>138851</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@6e20b53a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1341609084</td>   <td></td> </tr>
</table>
