<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
</table>