<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyAdcopy</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyAdvertiser</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
