<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/>CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/>CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/></td></tr>
<tr><td>Sanity</td><td>CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/>CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/>CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]<br/></td></tr>
</table>
