<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest TM Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/04 16:16:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/04 16:16:37</td>   <td>15718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">loginWithValidCredentials</td> 
  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/04 16:16:53</td>   <td>31360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/04 16:16:53</td>   <td>31393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">Create_TM_GroupInfringementsbyAdvertiser</td> 
  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/04 16:17:38</td>   <td>76131</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/04 16:17:38</td>   <td>76258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">logoutValidations</td> 
  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/04 16:17:45</td>   <td>83414</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1633984956</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/04 16:17:45</td>   <td>83415</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f7298b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1633984956</td>   <td></td> </tr>
</table>
