<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdcopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyKeywords</td></tr>
</table>