<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting InfringementType</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>