<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthCheckSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:21:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">create_BiddPos_KW_DateM_FreqD_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:35</td>   <td>-384747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">create_MyPerf_SEMKW_DateD_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:55</td>   <td>-304788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">create_NewComp_SEMCamp_DateW_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:52</td>   <td>-67434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">create_NewInfri_Brand_DateD_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:26</td>   <td>-153971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:06</td>   <td>-233566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:18</td>   <td>-581418</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:04</td>   <td>-535331</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:57</td>   <td>-482954</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:52</td>   <td>-427629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:20</td>   <td>-339433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:32</td>   <td>-267785</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:51</td>   <td>-188869</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:18</td>   <td>-101945</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:25</td>   <td>-34543</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:22</td>   <td>82230</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:46</td>   <td>166029</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:15</td>   <td>255533</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:36</td>   <td>-563733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:21</td>   <td>-518959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:13</td>   <td>-467079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:15</td>   <td>-404781</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:36</td>   <td>-323785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:47</td>   <td>-252309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:06</td>   <td>-173724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:34</td>   <td>-86009</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:40</td>   <td>-19407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:37</td>   <td>97770</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:02</td>   <td>182554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:30</td>   <td>270845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:36</td>   <td>-503258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:44</td>   <td>-435196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:13</td>   <td>-346825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:24</td>   <td>-275140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:43</td>   <td>-196410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:10</td>   <td>-109357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:18</td>   <td>-41820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:15</td>   <td>74906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:10</td>   <td>130490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:08</td>   <td>248000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:49</td>   <td>289625</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:30</td>   <td>-449196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:32</td>   <td>-387379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:52</td>   <td>-307386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:03</td>   <td>-236227</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:23</td>   <td>-156617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:50</td>   <td>-70060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:57</td>   <td>-2575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:19</td>   <td>199817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:43</td>   <td>-496146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">reloginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:17</td>   <td>137554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">reloginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:41</td>   <td>-438442</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">searchforAlert</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:30</td>   <td>210505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">searchforAlert</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:47</td>   <td>286878</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.switchAccountValidation(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">switchAccountValidation</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:11:36</td>   <td>-563747</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:04</td>   <td>-535832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:36</td>   <td>-503266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:43</td>   <td>-496152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:56</td>   <td>-483284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:30</td>   <td>-449202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:33</td>   <td>-446562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:41</td>   <td>-438449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:44</td>   <td>-435200</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:51</td>   <td>-428163</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:14:32</td>   <td>-387386</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:14:35</td>   <td>-384755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:13</td>   <td>-346830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:20</td>   <td>-339765</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:52</td>   <td>-307394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:55</td>   <td>-304798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:16:24</td>   <td>-275149</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:16:31</td>   <td>-268136</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:03</td>   <td>-236236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:06</td>   <td>-233574</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:43</td>   <td>-196430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:50</td>   <td>-189301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:18:23</td>   <td>-156623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:18:26</td>   <td>-153977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:10</td>   <td>-109363</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:17</td>   <td>-102340</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:50</td>   <td>-70066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:52</td>   <td>-67439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:18</td>   <td>-41828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:25</td>   <td>-34889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:57</td>   <td>-2584</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:21:00</td>   <td>-8</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:15</td>   <td>74897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:21</td>   <td>81837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:56</td>   <td>116268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:10</td>   <td>130485</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:17</td>   <td>137549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:30</td>   <td>150867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:45</td>   <td>165357</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:19</td>   <td>199808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:22</td>   <td>202457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:30</td>   <td>210500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:33</td>   <td>213681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:51</td>   <td>231649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:08</td>   <td>247995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:15</td>   <td>255123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:47</td>   <td>286873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:49</td>   <td>289618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:56</td>   <td>296575</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:04</td>   <td>-535831</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:56</td>   <td>-483284</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:51</td>   <td>-428163</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:20</td>   <td>-339765</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:31</td>   <td>-268136</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:50</td>   <td>-189301</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:17</td>   <td>-102339</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:25</td>   <td>-34889</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:21</td>   <td>81838</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:45</td>   <td>165357</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:15</td>   <td>255123</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:56</td>   <td>296575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:34</td>   <td>-565411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">validateLoginUI</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:56</td>   <td>116274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertCreatorPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">verifyAlertCreatorPermission</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:31</td>   <td>150873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertSharedPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">verifyAlertSharedPermission</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:51</td>   <td>231654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDelete(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">verifyEditAlertDelete</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:33</td>   <td>213689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDisableEnable(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">verifyEditAlertDisableEnable</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:33</td>   <td>-446553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">waitForTableToLoad</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:22</td>   <td>202465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">waitForTableToLoad</td> 
  <td>main@11386013</td>   <td></td> </tr>
</table>
