<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthCheckSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:34</td>   <td>16007</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">validateLoginUI</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:11:36</td>   <td>17671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:11:36</td>   <td>17685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:04</td>   <td>45586</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:04</td>   <td>45587</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@19713e5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:04</td>   <td>46087</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:21</td>   <td>62459</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:36</td>   <td>78152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:36</td>   <td>78160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:43</td>   <td>85266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:43</td>   <td>85272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">reloginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:12:56</td>   <td>98134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:56</td>   <td>98134</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@173b51b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:12:57</td>   <td>98464</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:13</td>   <td>114339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:30</td>   <td>132216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:30</td>   <td>132222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:33</td>   <td>134856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:33</td>   <td>134865</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">waitForTableToLoad</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:41</td>   <td>142969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:41</td>   <td>142976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">searchforAlert</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:44</td>   <td>146218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:44</td>   <td>146222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:13:51</td>   <td>153255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:51</td>   <td>153255</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@171cd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:13:52</td>   <td>153789</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:15</td>   <td>176637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:14:32</td>   <td>194032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:32</td>   <td>194039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:14:35</td>   <td>196663</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:14:35</td>   <td>196671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">create_MyPerf_SEMKW_DateD_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:13</td>   <td>234588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:13</td>   <td>234593</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:20</td>   <td>241653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:20</td>   <td>241653</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@4ad17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:20</td>   <td>241985</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:36</td>   <td>257633</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:52</td>   <td>274024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:52</td>   <td>274032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:15:55</td>   <td>276620</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:15:55</td>   <td>276630</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">create_NewComp_SEMCamp_DateW_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:16:24</td>   <td>306269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:24</td>   <td>306278</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:16:31</td>   <td>313282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:31</td>   <td>313282</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@dd9eb7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:32</td>   <td>313633</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:16:47</td>   <td>329109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:03</td>   <td>345182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:03</td>   <td>345191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:06</td>   <td>347844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:06</td>   <td>347852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:43</td>   <td>384988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:43</td>   <td>385008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:17:50</td>   <td>392117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:50</td>   <td>392117</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1dcaa40]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:17:51</td>   <td>392549</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:06</td>   <td>407694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:18:23</td>   <td>424795</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:23</td>   <td>424801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:18:26</td>   <td>427441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:18:26</td>   <td>427447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:10</td>   <td>472055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:10</td>   <td>472061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:17</td>   <td>479078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:17</td>   <td>479079</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@e1e309]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:18</td>   <td>479473</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:34</td>   <td>495409</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:50</td>   <td>511352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:50</td>   <td>511358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:19:52</td>   <td>513979</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:19:52</td>   <td>513984</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">create_NewInfri_Brand_DateD_FreqD_Checked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:18</td>   <td>539590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:18</td>   <td>539598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:25</td>   <td>546529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:25</td>   <td>546529</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1972b0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:25</td>   <td>546875</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:40</td>   <td>562011</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:20:57</td>   <td>578834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:20:57</td>   <td>578843</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:21:00</td>   <td>581410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:21:00</td>   <td>581418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">create_BiddPos_KW_DateM_FreqD_Unchecked</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:15</td>   <td>656315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:15</td>   <td>656324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:21</td>   <td>663255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:21</td>   <td>663256</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1fead27]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:22</td>   <td>663648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:37</td>   <td>679188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:22:56</td>   <td>697686</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:22:56</td>   <td>697692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertCreatorPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">verifyAlertCreatorPermission</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:10</td>   <td>711903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:10</td>   <td>711908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:17</td>   <td>718967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:17</td>   <td>718972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">reloginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:30</td>   <td>732285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:31</td>   <td>732291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertSharedPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">verifyAlertSharedPermission</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:23:45</td>   <td>746775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:45</td>   <td>746775</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@514af7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:23:46</td>   <td>747447</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:02</td>   <td>763972</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:19</td>   <td>781226</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:19</td>   <td>781235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">navigateToAlertManager</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:22</td>   <td>783875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:22</td>   <td>783883</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">waitForTableToLoad</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:30</td>   <td>791918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:30</td>   <td>791923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">searchforAlert</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:33</td>   <td>795099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:33</td>   <td>795107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDisableEnable(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">verifyEditAlertDisableEnable</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:24:51</td>   <td>813067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:24:51</td>   <td>813072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDelete(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">verifyEditAlertDelete</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:08</td>   <td>829413</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:08</td>   <td>829418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:15</td>   <td>836541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:15</td>   <td>836541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a94ee4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:15</td>   <td>836951</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:30</td>   <td>852263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">loginWithValidCredentials</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:47</td>   <td>868291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:47</td>   <td>868296</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.switchAccountValidation(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">switchAccountValidation</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:49</td>   <td>871036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:49</td>   <td>871043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">logoutValidations</td> 
  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/03/08 21:25:56</td>   <td>877993</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/03/08 21:25:56</td>   <td>877993</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@a7ecca]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@11386013</td>   <td></td> </tr>
</table>
