<h2>Reporter output</h2><table><tr><td>Insights Login UI</td></tr>
<tr><td>........Insights Login UI check........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Reset Password Request
To reset your password, we will send an email to the login email below:
Cancel
SEND
Need immediate assistance?
Contact AdGooroo Customer Success at customersupport@adgooroo.com or 1-866-263-9900</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - My Performance</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Keyword Groups selected - Keyword Groups</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - Keyword Groups</td></tr>
<tr><td>expected isKeyword Group : NewEgg</td></tr>
<tr><td>Selecting Engine</td></tr>
<tr><td>Selected Engine</td></tr>
<tr><td>Selecting Region</td></tr>
<tr><td>Selected Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>selecting Metrics and Thresholds</td></tr>
<tr><td>selected Metrics and Thresholds</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_MyPer_healthcheck_180308211435 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Competitor(s) Performance</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Competitor Performance type selected - New Competitors</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>campaigns Button selected - Campaigns</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Brands Verified - Campaigns</td></tr>
<tr><td>expected isCampaign : NewEgg</td></tr>
<tr><td>Selecting Engine</td></tr>
<tr><td>Selected Engine</td></tr>
<tr><td>Selecting Region</td></tr>
<tr><td>Selected Region</td></tr>
<tr><td>Selecting Competitors New In Last</td></tr>
<tr><td>Selected Competitors New In Last</td></tr>
<tr><td>selecting Metrics and Thresholds</td></tr>
<tr><td>selected Metrics and Thresholds</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Newcomp_healthcheck_180308211555 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Competitor(s) Performance</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Competitor Performance type selected - Specific Competitor(s)</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Competitor set Dropdown</td></tr>
<tr><td>Selected Competitor set Dropdown</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM Local</td></tr>
<tr><td>Verifying fields under SEM Local</td></tr>
<tr><td>clicked</td></tr>
<tr><td>Fields under SEM Local are verified</td></tr>
<tr><td>Validating Search of Keyword Group for SEM local</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - </td></tr>
<tr><td>Verified fields under SEM Local</td></tr>
<tr><td>Selecting Target Setting for SEM Local</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>selecting Metrics and Thresholds</td></tr>
<tr><td>selected Metrics and Thresholds</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Speccomp_healthcheck_180308211706 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Competitor(s) Performance</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Competitor Performance type selected - Performance Comparison</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - PLA</td></tr>
<tr><td>Selecting Competing Advertisers</td></tr>
<tr><td>Selected Competing Advertisers</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Keyword Groups selected - Keyword Groups</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - Keyword Groups</td></tr>
<tr><td>expected isKeyword Group : IPAD</td></tr>
<tr><td>Selecting Engine</td></tr>
<tr><td>Selected Engine</td></tr>
<tr><td>Selecting Region</td></tr>
<tr><td>Selected Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Verify AND OR Reset rules and select metrics</td></tr>
<tr><td>Verified AND OR Reset rules and select metrics</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Perfcomp_healthcheck_180308211826 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Trademark Infringements</td></tr>
<tr><td>Selecting Trademark Infringements Type</td></tr>
<tr><td>Trademark Infringements type selected - New Infringers</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>In side Brands- Brands</td></tr>
<tr><td>Brands selected - Brands</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Brands Verified - Brands</td></tr>
<tr><td>expected isBrand : AdGooroo</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Competitors New In Last</td></tr>
<tr><td>Selected Competitors New In Last</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_NewInfri_healthcheck_180308211952 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Trademark Infringements</td></tr>
<tr><td>Selecting Trademark Infringements Type</td></tr>
<tr><td>Trademark Infringements type selected - Bidding Position</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Keyword Groups selected - Keyword Groups</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - Keyword Groups</td></tr>
<tr><td>expected isKeyword Group : AdGooroo</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Competitor set Dropdown</td></tr>
<tr><td>Selected Competitor set Dropdown</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Bidding position</td></tr>
<tr><td>2</td></tr>
<tr><td>N1</td></tr>
<tr><td>0.0</td></tr>
<tr><td>Selected Bidding position</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Bidding_healthcheck_180308212100 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>