<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AlertFilter Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:15:45</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:16:05</td>   <td>19762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">loginWithValidCredentials</td> 
  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:18:22</td>   <td>156731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">logoutValidations</td> 
  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:17:21</td>   <td>95418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">navigateToAlertManager</td> 
  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:17:25</td>   <td>99506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">searchforAlert</td> 
  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/11/21 16:17:21</td>   <td>95407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/11/21 16:17:25</td>   <td>99495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/11/21 16:18:22</td>   <td>156324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/11/21 16:18:27</td>   <td>161966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/11/21 16:18:27</td>   <td>161967</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@23446459</td>   <td></td> </tr>
</table>
