<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.alertNavigateAndSearch(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">alertNavigateAndSearch</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>54</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_BiddPos_KW_DateM_FreqD_Unchecked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_MyPerf_SEMKW_DateD_FreqD_Checked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_NewComp_SEMCamp_DateW_FreqD_Checked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>203</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_NewInfri_Brand_DateD_FreqD_Checked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">navigateToAlertManager</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>348</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">searchforAlert</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>699</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>503</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertCreatorPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">verifyAlertCreatorPermission</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertSharedPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">verifyAlertSharedPermission</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>564</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertTableSort(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">verifyAlertTableSort</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDelete(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">verifyEditAlertDelete</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDisableEnable(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">verifyEditAlertDisableEnable</td> 
  <td>main@350068407</td>   <td></td> </tr>
<tr bgcolor="6ca8ac">  <td>18/09/19 15:11:08</td>   <td>696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@3d51f06e]">waitForTableToLoad</td> 
  <td>main@350068407</td>   <td></td> </tr>
</table>
