<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserKeywordsHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_BrandedUnbranded</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MissedKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_PPCvsNatural</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordCreative_Breakout</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupCreativeGroup</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersRollup</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersRollupHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_PositionShare</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordOpportunities</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MultiGroupComparisonHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_CalendarReport</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MultiGroupComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_CompetitorKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_PositionShare</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_CalendarReport</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MissedKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOpportunities</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_KeywordOpportunitiesHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiGroupComparisonHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiCityOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupAdvertiserHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_GroupAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_MultiGroupComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_CompetitorKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Local_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Advertisercreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Advertiserkeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Keywordopportunities</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Keywordadvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Keywordoverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Groupcreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Advertiseroverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Groupoverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Advertisercomparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Keywordcreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Keywordcomparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Groupkeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_KeywordResearch</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_MultiGroupcomparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_PLA_Groupadvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_AdvertiserCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_KeywordComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_AdvertiserComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_AdvertiserKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_IndustryTrends</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_IndustryOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_IndustryKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_TopAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_PPC_MoversShakers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_KeywordInfringementsbyAdvertiser</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_AdvertiserInfringementsbyAdCopy</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_KeywordInfringementsbyAdCopy</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_AdvertiserInfringementsbyKeyword</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_HijackedURL</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_KeywordOverviewbyBidding</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_KeywordOverviewbyAdCopy</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GlobalBrandOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyAdcopy</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_TM_GroupInfringementsbyAdvertiser</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Advertiseroverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Topadvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Advertisercomparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Industrykeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Advertiserkeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Keywordrankings</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Industryoverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_Industry_Keywordcomparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
