<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:55:23</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:56:03</td>   <td>40270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:56:19</td>   <td>56293</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:56:19</td>   <td>56332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_GroupOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">Create_SEM_GroupOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:02</td>   <td>98588</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:02</td>   <td>98610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:07</td>   <td>104350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:08</td>   <td>104701</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:08</td>   <td>105470</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:34</td>   <td>131429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:48</td>   <td>145291</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:48</td>   <td>145333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">Create_SEM_AdvertiserOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:58:48</td>   <td>204932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:48</td>   <td>204951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:58:55</td>   <td>211705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:55</td>   <td>211705</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:56</td>   <td>212575</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:59:17</td>   <td>234536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:59:31</td>   <td>247692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:59:31</td>   <td>247712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">Create_SEM_AdvertiserComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:00:14</td>   <td>291407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:14</td>   <td>291423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:00:21</td>   <td>298258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:21</td>   <td>298258</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:22</td>   <td>298975</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:45</td>   <td>321893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:01:00</td>   <td>337115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:01:00</td>   <td>337132</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">Create_SEM_PPCvsNatural</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:00</td>   <td>517521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:00</td>   <td>517535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:07</td>   <td>524272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:07</td>   <td>524272</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:08</td>   <td>525107</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:38</td>   <td>555057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:55</td>   <td>571816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:55</td>   <td>571835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">Create_SEM_KeywordOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:08</td>   <td>585096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:05:08</td>   <td>585395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:14</td>   <td>591166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:05:14</td>   <td>591537</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:15</td>   <td>592321</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:39</td>   <td>616523</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:55</td>   <td>631786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:55</td>   <td>631835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_KeywordResearch(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">Create_PLA_KeywordResearch</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:06:58</td>   <td>694854</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:06:58</td>   <td>694871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:07:04</td>   <td>701562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:04</td>   <td>701562</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:05</td>   <td>702304</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:37</td>   <td>734141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:07:51</td>   <td>748457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:51</td>   <td>748469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">Create_PLA_Groupoverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:08:33</td>   <td>789701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:33</td>   <td>789712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:08:40</td>   <td>796610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:40</td>   <td>796610</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:40</td>   <td>797335</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:09:04</td>   <td>821469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:09:18</td>   <td>835281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:09:18</td>   <td>835290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">Create_PLA_Advertiserkeywords</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:10:20</td>   <td>896910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:20</td>   <td>897210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:10:27</td>   <td>904062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:27</td>   <td>904062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:28</td>   <td>904758</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:48</td>   <td>924903</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:11:02</td>   <td>939543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:11:02</td>   <td>939556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">Create_PLA_Keywordcomparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:09</td>   <td>1006178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:09</td>   <td>1006187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:15</td>   <td>1011706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:15</td>   <td>1012035</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:16</td>   <td>1013110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:38</td>   <td>1035336</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:52</td>   <td>1048966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:52</td>   <td>1048974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">Create_PLA_Keywordadvertisers</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:05</td>   <td>1061710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:13:05</td>   <td>1062016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:12</td>   <td>1068918</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:13:12</td>   <td>1068918</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:13</td>   <td>1069669</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:35</td>   <td>1092223</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:50</td>   <td>1106910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:50</td>   <td>1106923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">Create_Local_MultiCityOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:14:36</td>   <td>1152837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:36</td>   <td>1152844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:14:43</td>   <td>1159680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:43</td>   <td>1159680</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:43</td>   <td>1160423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:14</td>   <td>1191311</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:27</td>   <td>1204350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:27</td>   <td>1204358</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">Create_Local_MultiCityAdvertisers</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:46</td>   <td>1223415</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:47</td>   <td>1223715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:54</td>   <td>1230697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:54</td>   <td>1230697</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:55</td>   <td>1231852</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:16:25</td>   <td>1262065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:16:39</td>   <td>1275626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:16:39</td>   <td>1275635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">Create_Local_KeywordOpportunities</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:17:19</td>   <td>1315861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:19</td>   <td>1315868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:17:26</td>   <td>1322914</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:26</td>   <td>1322914</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:27</td>   <td>1323696</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:51</td>   <td>1347812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:05</td>   <td>1361913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:05</td>   <td>1361920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">Create_Local_AdvertiserComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:45</td>   <td>1402361</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:45</td>   <td>1402367</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:52</td>   <td>1409332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:52</td>   <td>1409332</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:53</td>   <td>1410043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:17</td>   <td>1433581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:31</td>   <td>1447830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:31</td>   <td>1447841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordCreative(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">Create_Local_KeywordCreative</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:43</td>   <td>1459851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:43</td>   <td>1460111</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:50</td>   <td>1466856</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:50</td>   <td>1466856</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:19:51</td>   <td>1467583</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:20:15</td>   <td>1491710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:20:28</td>   <td>1504762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:20:28</td>   <td>1504771</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">Create_TM_GroupInfringementsbyAdvertiser</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:22:26</td>   <td>1622954</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:26</td>   <td>1622959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:22:33</td>   <td>1629646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:33</td>   <td>1629646</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:33</td>   <td>1630343</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:23:01</td>   <td>1658375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:23:15</td>   <td>1672443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:23:15</td>   <td>1672457</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_GlobalBrandOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">Create_TM_GlobalBrandOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:25:21</td>   <td>1798524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:21</td>   <td>1798531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:25:28</td>   <td>1805225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:28</td>   <td>1805225</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:29</td>   <td>1805949</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:52</td>   <td>1828626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:06</td>   <td>1842707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:06</td>   <td>1842717</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyBidding(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">Create_TM_KeywordOverviewbyBidding</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:19</td>   <td>1856352</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:20</td>   <td>1856639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:26</td>   <td>1863394</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:26</td>   <td>1863394</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:27</td>   <td>1864108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:51</td>   <td>1887934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:27:06</td>   <td>1902997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:27:06</td>   <td>1903003</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_HijackedURL(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">Create_TM_HijackedURL</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:06</td>   <td>1963488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:28:06</td>   <td>1963496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:13</td>   <td>1970177</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:28:13</td>   <td>1970177</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:14</td>   <td>1970919</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:39</td>   <td>1996283</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:54</td>   <td>2010842</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:54</td>   <td>2010852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">Create_Industry_PPC_IndustryOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:29:32</td>   <td>2049518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:32</td>   <td>2049526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:29:39</td>   <td>2056324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:39</td>   <td>2056324</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:41</td>   <td>2057677</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:01</td>   <td>2078408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:15</td>   <td>2091693</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:15</td>   <td>2091703</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">Create_Industry_PPC_AdvertiserOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:52</td>   <td>2129299</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:52</td>   <td>2129308</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:59</td>   <td>2136279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:59</td>   <td>2136280</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:00</td>   <td>2136994</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:22</td>   <td>2158879</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:31:35</td>   <td>2171987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:35</td>   <td>2172008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_KeywordComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">Create_Industry_PPC_KeywordComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:33:35</td>   <td>2292446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:33:35</td>   <td>2292452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:33:42</td>   <td>2299165</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:33:42</td>   <td>2299165</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:33:43</td>   <td>2299913</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:34:09</td>   <td>2326373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:34:28</td>   <td>2345138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:34:28</td>   <td>2345153</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Industryoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">Create_Industry_Industryoverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:05</td>   <td>2382264</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:05</td>   <td>2382270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:12</td>   <td>2389043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:12</td>   <td>2389043</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:13</td>   <td>2389748</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:34</td>   <td>2410929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:48</td>   <td>2424626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:48</td>   <td>2424634</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiseroverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">Create_Industry_Advertiseroverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:36:30</td>   <td>2467540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:30</td>   <td>2467547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:36:37</td>   <td>2474360</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:37</td>   <td>2474360</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:38</td>   <td>2475074</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:37:01</td>   <td>2497674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:37:15</td>   <td>2511958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:37:15</td>   <td>2511964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertisercomparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">Create_Industry_Advertisercomparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:39:31</td>   <td>2647652</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:31</td>   <td>2647658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:39:37</td>   <td>2654395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:37</td>   <td>2654395</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:38</td>   <td>2655102</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:02</td>   <td>2679116</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:40:17</td>   <td>2693862</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:17</td>   <td>2693870</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordrankings(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">Create_Industry_Keywordrankings</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:40:58</td>   <td>2734628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:58</td>   <td>2734635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:41:05</td>   <td>2741607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:41:05</td>   <td>2741608</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
</table>
