<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunitiesHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparisonHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertiserHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest.Create_Local_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyBidding</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyKeyword</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdcopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GlobalBrandOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_HijackedURL</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyBidding</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyKeyword</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdcopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_HijackedURL</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyKeyword</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdcopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GlobalBrandOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_HijackedURL</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyBidding</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserInfringementsbyKeyword</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdcopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GlobalBrandOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordInfringementsbyAdvertiser</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyAdCopy</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_MoversShakers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryTrends</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_TopAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_MoversShakers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryTrends</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_TopAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_MoversShakers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryTrends</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_TopAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordrankings</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Topadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industrykeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industryoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordrankings</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Topadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industrykeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industryoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordrankings</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Topadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industrykeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industryoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Topadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Industrykeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordcomparison</td></tr>
</table>