<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:37:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertisercomparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">Create_Industry_Advertisercomparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:48</td>   <td>-87330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Advertiseroverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">Create_Industry_Advertiseroverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:34:28</td>   <td>-166811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Industryoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">Create_Industry_Industryoverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:17</td>   <td>181906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.Create_Industry_Keywordrankings(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">Create_Industry_Keywordrankings</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:15</td>   <td>-420261</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_AdvertiserOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">Create_Industry_PPC_AdvertiserOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:54</td>   <td>-501112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_IndustryOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">Create_Industry_PPC_IndustryOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:35</td>   <td>-339956</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.Create_Industry_PPC_KeywordComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">Create_Industry_PPC_KeywordComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:05</td>   <td>-1150044</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_AdvertiserComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">Create_Local_AdvertiserComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:31</td>   <td>-1064123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordCreative(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">Create_Local_KeywordCreative</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:16:39</td>   <td>-1236329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_KeywordOpportunities(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">Create_Local_KeywordOpportunities</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:27</td>   <td>-1307606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityAdvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">Create_Local_MultiCityAdvertisers</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:50</td>   <td>-1405041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.Create_Local_MultiCityOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">Create_Local_MultiCityOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:09:18</td>   <td>-1676674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">Create_PLA_Advertiserkeywords</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:51</td>   <td>-1763495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">Create_PLA_Groupoverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:55</td>   <td>-1880129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_KeywordResearch(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">Create_PLA_KeywordResearch</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:52</td>   <td>-1462990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">Create_PLA_Keywordadvertisers</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:11:02</td>   <td>-1572408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">Create_PLA_Keywordcomparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:59:31</td>   <td>-2264252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">Create_SEM_AdvertiserComparison</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:48</td>   <td>-2366631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">Create_SEM_AdvertiserOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:56:19</td>   <td>-2455632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_GroupOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">Create_SEM_GroupOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:55</td>   <td>-1940129</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">Create_SEM_KeywordOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:01:00</td>   <td>-2174832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">Create_SEM_PPCvsNatural</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:23:15</td>   <td>-839507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_GlobalBrandOverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">Create_TM_GlobalBrandOverview</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:20:28</td>   <td>-1007193</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_GroupInfringementsbyAdvertiser(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">Create_TM_GroupInfringementsbyAdvertiser</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:27:06</td>   <td>-608961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_HijackedURL(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">Create_TM_HijackedURL</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:06</td>   <td>-669247</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.Create_TM_KeywordOverviewbyBidding(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">Create_TM_KeywordOverviewbyBidding</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:55:23</td>   <td>-2511964</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:08</td>   <td>-2406494</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:56</td>   <td>-2299389</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:22</td>   <td>-2212989</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:08</td>   <td>-1986857</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:15</td>   <td>-1919643</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:05</td>   <td>-1809660</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:40</td>   <td>-1714629</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:28</td>   <td>-1607206</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:16</td>   <td>-1498854</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:13</td>   <td>-1442295</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:43</td>   <td>-1351541</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:55</td>   <td>-1280112</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:27</td>   <td>-1188268</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:53</td>   <td>-1101921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateLocalSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:19:51</td>   <td>-1044381</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:33</td>   <td>-881621</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:29</td>   <td>-706015</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:27</td>   <td>-647856</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateTMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:14</td>   <td>-541045</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:41</td>   <td>-454287</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:00</td>   <td>-374970</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustryPPCSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:33:43</td>   <td>-212051</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:13</td>   <td>-122216</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:38</td>   <td>-36890</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:38</td>   <td>143138</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateIndustrySEOSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:56:03</td>   <td>-2471694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:34</td>   <td>-2380535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:59:17</td>   <td>-2277428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:45</td>   <td>-2190071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:38</td>   <td>-1956907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:05:39</td>   <td>-1895441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:37</td>   <td>-1777823</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:09:04</td>   <td>-1690495</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:48</td>   <td>-1587061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:38</td>   <td>-1476628</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:13:35</td>   <td>-1419741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:14</td>   <td>-1320653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:16:25</td>   <td>-1249899</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:51</td>   <td>-1164152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:17</td>   <td>-1078383</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:20:15</td>   <td>-1020254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:23:01</td>   <td>-853589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:52</td>   <td>-683338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:51</td>   <td>-624030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:28:39</td>   <td>-515681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:01</td>   <td>-433556</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:31:22</td>   <td>-353085</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:34:09</td>   <td>-185591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:34</td>   <td>-101035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:37:01</td>   <td>-14290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:02</td>   <td>167152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">loginWithValidCredentials</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:02</td>   <td>-2413354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:48</td>   <td>-2307013</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:14</td>   <td>-2220541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:00</td>   <td>-1994429</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:05:08</td>   <td>-1926569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:06:58</td>   <td>-1817093</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:33</td>   <td>-1722252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:20</td>   <td>-1614754</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:09</td>   <td>-1505777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:13:05</td>   <td>-1449948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:36</td>   <td>-1359120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:47</td>   <td>-1288249</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:19</td>   <td>-1196096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:45</td>   <td>-1109597</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:43</td>   <td>-1051853</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateLocalSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:26</td>   <td>-889005</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:21</td>   <td>-713433</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:20</td>   <td>-655325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:28:06</td>   <td>-548468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateTMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:32</td>   <td>-462438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:52</td>   <td>-382656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:33:35</td>   <td>-219512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustryPPCSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:05</td>   <td>-129694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:30</td>   <td>-44417</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:31</td>   <td>135694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:40:58</td>   <td>222671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateIndustrySEOSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">logoutValidations</td> 
  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:56:19</td>   <td>-2455671</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:02</td>   <td>-2413376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:07</td>   <td>-2407614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:57:48</td>   <td>-2366673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:58:48</td>   <td>-2307032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:58:55</td>   <td>-2300259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 13:59:31</td>   <td>-2264272</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:00:14</td>   <td>-2220557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:00:21</td>   <td>-2213706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:01:00</td>   <td>-2174849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:00</td>   <td>-1994443</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:07</td>   <td>-1987692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:04:55</td>   <td>-1940148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:08</td>   <td>-1926868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:14</td>   <td>-1920798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:05:55</td>   <td>-1880178</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:06:58</td>   <td>-1817110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:07:04</td>   <td>-1810402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:07:51</td>   <td>-1763507</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:08:33</td>   <td>-1722263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:08:40</td>   <td>-1715354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:09:18</td>   <td>-1676683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:10:20</td>   <td>-1615054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:10:27</td>   <td>-1607902</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:11:02</td>   <td>-1572421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:09</td>   <td>-1505786</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:15</td>   <td>-1500258</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:12:52</td>   <td>-1462998</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:05</td>   <td>-1450254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:12</td>   <td>-1443046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:13:50</td>   <td>-1405054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:14:36</td>   <td>-1359127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:14:43</td>   <td>-1352284</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:27</td>   <td>-1307614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:46</td>   <td>-1288549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:15:54</td>   <td>-1281267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:16:39</td>   <td>-1236338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:17:19</td>   <td>-1196103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:17:26</td>   <td>-1189050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:05</td>   <td>-1150051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:45</td>   <td>-1109603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:18:52</td>   <td>-1102632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:31</td>   <td>-1064134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:43</td>   <td>-1052113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:19:50</td>   <td>-1045108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:20:28</td>   <td>-1007202</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:22:26</td>   <td>-889010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:22:33</td>   <td>-882318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:23:15</td>   <td>-839521</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:25:21</td>   <td>-713440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:25:28</td>   <td>-706739</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:06</td>   <td>-669257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:19</td>   <td>-655612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:26:26</td>   <td>-648570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:27:06</td>   <td>-608967</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:06</td>   <td>-548476</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:13</td>   <td>-541787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:28:54</td>   <td>-501122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:29:32</td>   <td>-462446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:29:39</td>   <td>-455640</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:15</td>   <td>-420271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:52</td>   <td>-382665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:30:59</td>   <td>-375685</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:31:35</td>   <td>-339977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:33:35</td>   <td>-219518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:33:42</td>   <td>-212799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:34:28</td>   <td>-166826</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:05</td>   <td>-129700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:12</td>   <td>-122921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:35:48</td>   <td>-87338</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:36:30</td>   <td>-44424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:36:37</td>   <td>-37604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:37:15</td>   <td>-6</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:39:31</td>   <td>135688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:39:37</td>   <td>142431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:40:17</td>   <td>181898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:40:58</td>   <td>222664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/08/21 14:41:05</td>   <td>229643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:57:08</td>   <td>-2407263</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@20deea7f]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 13:58:55</td>   <td>-2300259</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@441772e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:00:21</td>   <td>-2213706</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@6c80d78a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:04:07</td>   <td>-1987692</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@5e0826e7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/08/21 14:05:14</td>   <td>-1920427</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@158da8e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:07:04</td>   <td>-1810402</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@44ebcd03]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:08:40</td>   <td>-1715354</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@359f7cdf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:10:27</td>   <td>-1607902</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4fb61f4a]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:12:15</td>   <td>-1499929</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@294425a7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f3afd9">  <td>18/08/21 14:13:12</td>   <td>-1443046</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@7ec7ffd3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:14:43</td>   <td>-1352284</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@515aebb0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:15:54</td>   <td>-1281267</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@16293aa2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:17:26</td>   <td>-1189050</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@478190fc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:18:52</td>   <td>-1102632</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@564fabc8]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf72b5">  <td>18/08/21 14:19:50</td>   <td>-1045108</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateLocalSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateLocalSubscriptionsTest@436813f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:22:33</td>   <td>-882318</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@57a3af25]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:25:28</td>   <td>-706739</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@4550bb58]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:26:26</td>   <td>-648570</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@1b7cc17c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="847778">  <td>18/08/21 14:28:13</td>   <td>-541787</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateTMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateTMSubscriptionsTest@2f9f7dcf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:29:39</td>   <td>-455640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@130d63be]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:30:59</td>   <td>-375684</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@3c19aaa5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="f0e0ba">  <td>18/08/21 14:33:42</td>   <td>-212799</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustryPPCSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustryPPCSubscriptionsTest@55b699ef]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:35:12</td>   <td>-122921</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@313ac989]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:36:37</td>   <td>-37604</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@2a4fb17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:39:37</td>   <td>142431</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@4d5d943d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
<tr bgcolor="bf66e3">  <td>18/08/21 14:41:05</td>   <td>229644</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateIndustrySEOSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateIndustrySEOSubscriptionsTest@1aafa419]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@678433396</td>   <td></td> </tr>
</table>
