<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting RollupBreakout</td></tr>
<tr><td>Selected RollupBreakout</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_SEM_GroupOverview_healthcheck_180821135619 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_SEM_AdvertiserOverview_healthcheck_180821135748 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_SEM_AdvertiserComparison_healthcheck_180821135931 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting first Advertiser</td></tr>
<tr><td>Selected first Advertiser</td></tr>
<tr><td>Selecting second Advertiser</td></tr>
<tr><td>Selected second Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_SEM_PPCvsNatural_healthcheck_180821140100 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Keyword</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_PLA_KeywordResearch_healthcheck_180821140555 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_PLA_GroupOverview_healthcheck_180821140751 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_PLA_Keywordcomparison_healthcheck_180821141102 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Keyword</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Local_MultiCityOverview_healthcheck_180821141350 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Target Setting for SEM Local</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Local_KeywordOpportunities_healthcheck_180821141639 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Target Setting for SEM Local</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Local_AdvertiserComparison_healthcheck_180821141805 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Keyword</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting InfringementType</td></tr>
<tr><td>Selected InfringementType</td></tr>
<tr><td>Selecting RollupBreakout</td></tr>
<tr><td>Selected RollupBreakout</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_TM_GroupInfringementsbyAdvertiser_healthcheck_180821142028 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting InfringementType</td></tr>
<tr><td>Selected InfringementType</td></tr>
<tr><td>Selecting url texts</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_TM_GlobalBrandOverview_healthcheck_180821142315 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Keyword</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting url texts</td></tr>
<tr><td>Selecting InfringementType</td></tr>
<tr><td>Selected InfringementType</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_TM_HijackedURL_healthcheck_180821142706 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_PPC_IndustryOverview_healthcheck_180821142854 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_PPC_AdvertiserOverview_healthcheck_180821143015 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting second Advertiser</td></tr>
<tr><td>Selected second Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_PPC_KeywordComparison_healthcheck_180821143135 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_Industryoverview_healthcheck_180821143428 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_Advertiseroverview_healthcheck_180821143548 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting second Advertiser</td></tr>
<tr><td>Selected second Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_Advertisercomparison_healthcheck_180821143715 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Taxonomy Tree</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Keyword</td></tr>
<tr><td>Selected Keyword</td></tr>
<tr><td>Selecting Date Range for Industry</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_Industry_Keywordrankings_healthcheck_180821144017 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>