<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>LoginTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/>LoginTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/>LoginTest.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/></td></tr>
<tr><td>Sanity</td><td>LoginTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/>LoginTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/>LoginTest.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]<br/></td></tr>
</table>
