<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Login Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 13:11:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1675388331</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 13:11:48</td>   <td>29847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">loginWithValidCredentials</td> 
  <td>TestNG@1675388331</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 13:11:49</td>   <td>30010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">logoutValidations</td> 
  <td>TestNG@1675388331</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>18/09/19 13:11:44</td>   <td>25748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1675388331</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 13:11:49</td>   <td>30100</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1675388331</td>   <td></td> </tr>
<tr bgcolor="9e6fbd">  <td>18/09/19 13:11:34</td>   <td>15262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@35ef1869]">validateLoginUI</td> 
  <td>TestNG@1675388331</td>   <td></td> </tr>
</table>
