<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_BrandedUnbranded</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserKeywordsHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MissedKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_PPCvsNatural</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordCreative_Breakout</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupCreativeGroup</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisers</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersRollup</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_GroupAdvertisersRollupHistorical</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_PositionShare</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_KeywordOpportunities</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MultiGroupComparisonHistory</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_CalendarReport</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserCreative</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_CompetitorKeywords</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_AdvertiserOverview</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Create_SEM_MultiGroupComparison</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
