<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest SEM Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">Create_SEM_AdvertiserComparison</td> 
  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:43</td>   <td>8304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">Create_SEM_GroupKeywords</td> 
  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:38</td>   <td>2892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">Create_SEM_PPCvsNatural</td> 
  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:19:51</td>   <td>-44253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:19:51</td>   <td>-44253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:19:51</td>   <td>-44253</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateSEMSubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:16</td>   <td>-18763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">loginWithValidCredentials</td> 
  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:18</td>   <td>-16608</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">loginWithValidCredentials</td> 
  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:20:23</td>   <td>-11474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">loginWithValidCredentials</td> 
  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:26</td>   <td>51323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">logoutValidations</td> 
  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:27</td>   <td>51942</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">logoutValidations</td> 
  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:27</td>   <td>52629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateSEMSubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">logoutValidations</td> 
  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:20:35</td>   <td>-77</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:20:38</td>   <td>2788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:20:43</td>   <td>8286</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:26</td>   <td>51310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:27</td>   <td>51787</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:27</td>   <td>52609</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:34</td>   <td>59550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:34</td>   <td>59614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/05 19:21:34</td>   <td>59658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@1781368516</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:34</td>   <td>59550</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@1ea9f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@415376992</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:34</td>   <td>59615</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@4d9e68d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@209183781</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/05 19:21:34</td>   <td>59658</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateSEMSubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@1781368516</td>   <td></td> </tr>
</table>
