<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PPCvsNatural</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_BrandedUnbranded</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative_Breakout</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparisonHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MissedKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollupHistorical</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordOpportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_MultiGroupComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupCreativeGroup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CalendarReport</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_PositionShare</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordComparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersRollup</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_KeywordCreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_CompetitorKeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserOverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserKeywordsHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisersHistory</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_GroupAdvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateSEMSubscriptionsTest.Create_SEM_AdvertiserComparison</td></tr>
</table>