<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Automation Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:37:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:37:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/09/24 23:37:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:37:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:37:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:38:07</td>   <td>38421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">loginWithValidCredentials</td> 
  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/09/24 23:38:09</td>   <td>39874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.validateLoginUI(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">validateLoginUI</td> 
  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:38:10</td>   <td>41054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">loginWithValidCredentials</td> 
  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:38:11</td>   <td>42024</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/09/24 23:38:11</td>   <td>42046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">loginWithValidCredentials</td> 
  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:38:30</td>   <td>61463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">loginWithValidCredentials</td> 
  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:38:31</td>   <td>61680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">loginWithValidCredentials</td> 
  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:06</td>   <td>96537</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/09/24 23:39:06</td>   <td>96543</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">logoutValidations</td> 
  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:08</td>   <td>98941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:08</td>   <td>98950</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">navigateToAlertManager</td> 
  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:08</td>   <td>99170</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:08</td>   <td>99175</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">navigateToAlertManager</td> 
  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:10</td>   <td>100773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:10</td>   <td>100779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">navigateToAlertManager</td> 
  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:11</td>   <td>101602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>17/09/24 23:39:11</td>   <td>101603</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.LoginTest@10161f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@8269786</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:12</td>   <td>102547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:12</td>   <td>102554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">navigateToAlertManager</td> 
  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:13</td>   <td>104000</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:13</td>   <td>104006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">searchforAlert</td> 
  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:13</td>   <td>104056</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:13</td>   <td>104062</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createTrademarkInfringementsAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">createTrademarkInfringementsAlertCustom</td> 
  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:16</td>   <td>106744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:16</td>   <td>106750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createMyPerformanceAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">createMyPerformanceAlertCustom</td> 
  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:17</td>   <td>108472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:17</td>   <td>108478</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createCompetitorsPerformaceAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">createCompetitorsPerformaceAlertCustom</td> 
  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:22</td>   <td>112768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:22</td>   <td>112772</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">logoutValidations</td> 
  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:26</td>   <td>117236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:26</td>   <td>117236</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@173b51b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@31448213</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:30</td>   <td>120565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:30</td>   <td>121038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">logoutValidations</td> 
  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:34</td>   <td>125460</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:34</td>   <td>125460</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@171cd7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@620867</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:44</td>   <td>135254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:44</td>   <td>135259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">logoutValidations</td> 
  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:49</td>   <td>139863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:49</td>   <td>139863</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@dd9eb7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@21466326</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:50</td>   <td>141048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:50</td>   <td>141051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">logoutValidations</td> 
  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>17/09/24 23:39:54</td>   <td>145407</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
<tr bgcolor="8da3ce">  <td>17/09/24 23:39:54</td>   <td>145407</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@4ad17b]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@25377821</td>   <td></td> </tr>
</table>
