<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createTrademarkInfringementsAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createMyPerformanceAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createCompetitorsPerformaceAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createTrademarkInfringementsAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createCompetitorsPerformaceAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createTrademarkInfringementsAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createMyPerformanceAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createMyPerformanceAlertCustom</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreateAlertTest.createCompetitorsPerformaceAlertCustom</td></tr>
</table>