<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login UI</td></tr>
<tr><td>........Insights Login UI check........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Reset Password Request
To reset your password, we will send an email to the login email below:
cancel
SEND
Need immediate assistance?
Contact AdGooroo Customer Success at customersupport@adgooroo.com or 1-866-263-9900</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>QA_MyPerformance_Auto170924170537 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>alert type selected - Trademark Infringements</td></tr>
<tr><td>Selecting Trademark Infringements Type</td></tr>
<tr><td>Trademark Infringements type selected - New Infringers</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>alert type selected - My Performance</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>alert type selected - Competitor(s) Performace</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Selecting Competitors New In Last</td></tr>
<tr><td>Competitor Performance type selected - New Competitors</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM</td></tr>
<tr><td>Selecting Keyword Group</td></tr>
<tr><td>Selected Competitors New In Last</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Selecting Keyword Group</td></tr>
<tr><td>Selecting Engine</td></tr>
<tr><td>Added recepient email</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Selected Engine</td></tr>
<tr><td>Selecting Region</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Selected Region</td></tr>
<tr><td>Selecting Competitors New In Last</td></tr>
<tr><td>Selected Competitors New In Last</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Added recepient email</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>QA_TrademarkInfringements_Auto170924233913 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>QA_CompetitorsPerformace_Auto170924233917 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
</table>