<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest PLA Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">Create_PLA_Advertiseroverview</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:41</td>   <td>-71601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">Create_PLA_Groupadvertisers</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:37:26</td>   <td>-146513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">Create_PLA_Groupoverview</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:36:37</td>   <td>-195822</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:13</td>   <td>-99986</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:26</td>   <td>-27013</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:37:09</td>   <td>-163906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:26</td>   <td>-86447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:39</td>   <td>-13825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:05</td>   <td>-107859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:18</td>   <td>-34981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:40:39</td>   <td>46260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:37:26</td>   <td>-146546</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:05</td>   <td>-107892</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:12</td>   <td>-100828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:41</td>   <td>-71617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:18</td>   <td>-34997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:25</td>   <td>-27867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:53</td>   <td>-13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:40:39</td>   <td>46164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:40:46</td>   <td>53382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:12</td>   <td>-100827</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:25</td>   <td>-27867</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:40:46</td>   <td>53382</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
</table>
