<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SubscriptionTest PLA Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:36:37</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:37:09</td>   <td>31916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:37:26</td>   <td>49276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:37:26</td>   <td>49309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupoverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">Create_PLA_Groupoverview</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:05</td>   <td>87930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:05</td>   <td>87963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:12</td>   <td>94994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:12</td>   <td>94995</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@1ea9f6af]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:13</td>   <td>95836</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:26</td>   <td>109375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:38:41</td>   <td>124205</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:38:41</td>   <td>124221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">Create_PLA_Groupadvertisers</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:18</td>   <td>160825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:18</td>   <td>160841</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:25</td>   <td>167955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:25</td>   <td>167955</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@123ef382]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:26</td>   <td>168809</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreatePLASubscriptionsTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:39</td>   <td>181997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">loginWithValidCredentials</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:39:53</td>   <td>195809</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:39:53</td>   <td>195822</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview(com.adgooroo.qa.insights.subscriptions.SubscriptionsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">Create_PLA_Advertiseroverview</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:40:39</td>   <td>241986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:40:39</td>   <td>242082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreatePLASubscriptionsTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">logoutValidations</td> 
  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/06 12:40:46</td>   <td>249204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/06 12:40:46</td>   <td>249204</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreatePLASubscriptionsTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest@4d9e68d0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1336996537</td>   <td></td> </tr>
</table>
