<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiseroverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_KeywordResearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_MultiGroupcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordopportunities</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupadvertisers</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupcreative</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Keywordcomparison</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertiserkeywords</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Groupoverview</td></tr>
<tr><td>com.adgooroo.qa.insights.test.CreatePLASubscriptionsTest.Create_PLA_Advertisercreative</td></tr>
</table>