<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_PLA_GroupOverview_healthcheck_180706123726 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>........Insights Subscription Manager Search........</td></tr>
<tr><td>auto_PLA_GroupAdvertisers_healthcheck_180706123841 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Subscription</td></tr>
<tr><td>Adding Subscription Description</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting Keyword Group/Campaign/Brand</td></tr>
<tr><td>sub type is not for SEM</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Engine & Region</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>