<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>MyPerformanceAlert Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:23:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateAlertTest.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:23:40</td>   <td>4512</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">loginWithValidCredentials</td> 
  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/01/16 12:24:10</td>   <td>34561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:24:10</td>   <td>34949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">navigateToAlertManager</td> 
  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/01/16 12:24:40</td>   <td>64915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:24:40</td>   <td>65241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.createMyPerformanceAlertCustom(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">createMyPerformanceAlertCustom</td> 
  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/01/16 12:25:10</td>   <td>95228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:25:11</td>   <td>95550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateAlertTest.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">logoutValidations</td> 
  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="efe5e5">  <td>18/01/16 12:25:44</td>   <td>129072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
<tr bgcolor="84ab65">  <td>18/01/16 12:25:44</td>   <td>129392</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateAlertTest.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.CreateAlertTest@10161f7]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG@10273177</td>   <td></td> </tr>
</table>
