<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>staging.qa.insights.adgooroo.com</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>