<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.adgooroo.qa.insights.test.HealthCheckTests</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>validateLoginUI</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEditAlertDelete</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>reloginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_MyPerf_SEMKW_DateD_FreqD_Checked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_SpecComp_SEML_DateM_FreqW_Unchecked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_BiddPos_KW_DateM_FreqD_Unchecked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>loginWithValidCredentials</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAlertTableSort</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>alertNavigateAndSearch</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutValidations</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>navigateToAlertManager</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>waitForTableToLoad</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_NewInfri_Brand_DateD_FreqD_Checked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyEditAlertDisableEnable</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>create_NewComp_SEMCamp_DateW_FreqD_Checked</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAlertSharedPermission</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>switchAccountValidation</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifyAlertCreatorPermission</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchforAlert</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>takeScreenShot</td>
<td>Sanity Regression Smoke </td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>tearDown</td>
<td>&nbsp;</td></tr>
</table>
