<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthCheckSuite -FireFox</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:14</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:29</td>   <td>15002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:44:46</td>   <td>31538</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:46</td>   <td>31613</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:44:49</td>   <td>34017</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:49</td>   <td>34038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:45:27</td>   <td>72330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:27</td>   <td>72366</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:45:34</td>   <td>79126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:34</td>   <td>79127</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:35</td>   <td>80028</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:49</td>   <td>94315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:04</td>   <td>109307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:04</td>   <td>109315</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:06</td>   <td>111617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:06</td>   <td>111648</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">create_BiddPos_KW_DateM_FreqD_Unchecked</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:49</td>   <td>154838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:49</td>   <td>154864</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:56</td>   <td>161516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:56</td>   <td>161517</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:57</td>   <td>162394</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:47:11</td>   <td>176347</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:47:25</td>   <td>190354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:47:25</td>   <td>190370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertCreatorPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">verifyAlertCreatorPermission</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:08</td>   <td>233032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:08</td>   <td>233385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:15</td>   <td>240070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:15</td>   <td>240083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">reloginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:30</td>   <td>255696</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:30</td>   <td>255708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertSharedPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">verifyAlertSharedPermission</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:13</td>   <td>298271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:13</td>   <td>298563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:14</td>   <td>299474</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:29</td>   <td>314016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:42</td>   <td>327254</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:42</td>   <td>327265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:44</td>   <td>329636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:44</td>   <td>329666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">waitForTableToLoad</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:52</td>   <td>337432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:52</td>   <td>337440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">searchforAlert</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:55</td>   <td>340021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:55</td>   <td>340030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDisableEnable(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">verifyEditAlertDisableEnable</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:25</td>   <td>370217</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:25</td>   <td>370533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDelete(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">verifyEditAlertDelete</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:25</td>   <td>370572</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:25</td>   <td>370583</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:32</td>   <td>377287</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:32</td>   <td>377288</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
</table>
