<h2>Methods that were not run</h2><table>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.alertNavigateAndSearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertSharedPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDelete</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.waitForTableToLoad</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.switchAccountValidation</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertCreatorPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.reloginWithValidCredentials</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDisableEnable</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertTableSort</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.validateLoginUI</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.alertNavigateAndSearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertSharedPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDelete</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.waitForTableToLoad</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.switchAccountValidation</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertCreatorPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.reloginWithValidCredentials</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDisableEnable</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertTableSort</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.validateLoginUI</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.alertNavigateAndSearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDelete</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.waitForTableToLoad</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.switchAccountValidation</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyEditAlertDisableEnable</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertTableSort</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.validateLoginUI</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.navigateToAlertManager</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.searchforAlert</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.alertNavigateAndSearch</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewComp_SEMCamp_DateW_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertSharedPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.switchAccountValidation</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertCreatorPermission</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_MyPerf_SEMKW_DateD_FreqD_Checked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.reloginWithValidCredentials</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_PerfComp_PLAKW_DateW_FreqW_Unchecked</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.verifyAlertTableSort</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.validateLoginUI</td></tr>
<tr><td>com.adgooroo.qa.insights.test.HealthCheckTests.create_NewInfri_Brand_DateD_FreqD_Checked</td></tr>
</table>