<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>HealthCheckSuite -FireFox</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_BiddPos_KW_DateM_FreqD_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">create_BiddPos_KW_DateM_FreqD_Unchecked</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:49</td>   <td>-77610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.create_SpecComp_SEML_DateM_FreqW_Unchecked(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">create_SpecComp_SEML_DateM_FreqW_Unchecked</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:14</td>   <td>-111648</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:35</td>   <td>-31620</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:57</td>   <td>50746</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:14</td>   <td>187826</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HealthCheckTests.init(java.lang.String, java.lang.String)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:29</td>   <td>-96646</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:49</td>   <td>-17333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:47:11</td>   <td>64699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:29</td>   <td>202368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.loginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">loginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:27</td>   <td>-39282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:49</td>   <td>43216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:08</td>   <td>121737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:25</td>   <td>258935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.logoutValidations(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">logoutValidations</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:44:46</td>   <td>-80035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:04</td>   <td>-2333</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:42</td>   <td>215617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.navigateToAlertManager(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">navigateToAlertManager</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:15</td>   <td>128435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.reloginWithValidCredentials(com.adgooroo.qa.insights.login.LoginDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">reloginWithValidCredentials</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:52</td>   <td>225792</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.searchforAlert(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">searchforAlert</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:44:46</td>   <td>-80110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:44:49</td>   <td>-77631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:45:27</td>   <td>-39318</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:45:34</td>   <td>-32522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:04</td>   <td>-2341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:06</td>   <td>-31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:49</td>   <td>43190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:46:56</td>   <td>49868</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:47:25</td>   <td>78706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:08</td>   <td>121384</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:15</td>   <td>128422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:48:30</td>   <td>144048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:13</td>   <td>186623</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:42</td>   <td>215606</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:44</td>   <td>217988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:52</td>   <td>225784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:49:55</td>   <td>228373</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:25</td>   <td>258569</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:25</td>   <td>258924</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="f99788">  <td>18/07/09 16:50:32</td>   <td>265639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverManager.takeScreenShot(org.testng.ITestResult)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;takeScreenShot</td> 
<td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:45:34</td>   <td>-32521</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@2ef3eef9]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:46:56</td>   <td>49869</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@479d31f3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:13</td>   <td>186915</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:32</td>   <td>265640</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HealthCheckTests.tearDown()[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:47:25</td>   <td>78722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertCreatorPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">verifyAlertCreatorPermission</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:48:30</td>   <td>144060</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyAlertSharedPermission(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@f5ac9e4]">verifyAlertSharedPermission</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:50:25</td>   <td>258885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDelete(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">verifyEditAlertDelete</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:55</td>   <td>228382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.verifyEditAlertDisableEnable(com.adgooroo.qa.insights.alerts.EditAlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">verifyEditAlertDisableEnable</td> 
  <td>main@1337335626</td>   <td></td> </tr>
<tr bgcolor="7c8faf">  <td>18/07/09 16:49:44</td>   <td>218018</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HealthCheckTests.waitForTableToLoad(com.adgooroo.qa.insights.alerts.AlertsDP, org.testng.ITestContext)[pri:0, instance:com.adgooroo.qa.insights.test.HealthCheckTests@1d9b7cce]">waitForTableToLoad</td> 
  <td>main@1337335626</td>   <td></td> </tr>
</table>
