<h2>Reporter output</h2><table><tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Competitor(s) Performance</td></tr>
<tr><td>Selecting Competitor Performance Type</td></tr>
<tr><td>Competitor Performance type selected - Specific Competitor(s)</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Competitor set Dropdown</td></tr>
<tr><td>Selected Competitor set Dropdown</td></tr>
<tr><td>Selecting Product type</td></tr>
<tr><td>Product type selected - SEM Local</td></tr>
<tr><td>Verifying fields under SEM Local</td></tr>
<tr><td>clicked</td></tr>
<tr><td>Fields under SEM Local are verified</td></tr>
<tr><td>Validating Search of Keyword Group for SEM local</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - </td></tr>
<tr><td>Verified fields under SEM Local</td></tr>
<tr><td>Selecting Target Setting for SEM Local</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>selecting Metrics and Thresholds</td></tr>
<tr><td>selected Metrics and Thresholds</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Speccomp_healthcheck_180709164449 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>Creating alert name</td></tr>
<tr><td>Alert name Entered</td></tr>
<tr><td>Adding message</td></tr>
<tr><td>Added message</td></tr>
<tr><td>Selecting alert type</td></tr>
<tr><td>alert type selected - Trademark Infringements</td></tr>
<tr><td>Selecting Trademark Infringements Type</td></tr>
<tr><td>Trademark Infringements type selected - Bidding Position</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Keyword Group/Brand</td></tr>
<tr><td>Keyword Groups selected - Keyword Groups</td></tr>
<tr><td>Validating Search of Keyword Group/Brand</td></tr>
<tr><td>Negative Validation of Search Keyword Groups Verified - Keyword Groups</td></tr>
<tr><td>expected isKeyword Group : AdGooroo</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Target Setting</td></tr>
<tr><td>Selected Target Setting</td></tr>
<tr><td>Selecting Advertiser</td></tr>
<tr><td>Selected Advertiser</td></tr>
<tr><td>Selecting Competitor set Dropdown</td></tr>
<tr><td>Selected Competitor set Dropdown</td></tr>
<tr><td>verify Create Button Disabled or not</td></tr>
<tr><td>Create Button Disabled</td></tr>
<tr><td>Selecting Date Range</td></tr>
<tr><td>Selected Date Range</td></tr>
<tr><td>Selecting Bidding position</td></tr>
<tr><td>2</td></tr>
<tr><td>N1</td></tr>
<tr><td>0.0</td></tr>
<tr><td>Selected Bidding position</td></tr>
<tr><td>Selecting Alert Frequency</td></tr>
<tr><td>Selected Alert Frequency</td></tr>
<tr><td>Adding recepient email</td></tr>
<tr><td>Added multiple recepient emails</td></tr>
<tr><td>verify Receive Only Checkbox</td></tr>
<tr><td>verified Receive Only Checkbox</td></tr>
<tr><td>Clicking On Create</td></tr>
<tr><td>Clicked On Create</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>auto_Bidding_healthcheck_180709164606 is found</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Login URL</td></tr>
<tr><td>........Insights Login Application........</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>AdGooroo Insights</td></tr>
<tr><td>........Insights Alert Manager........</td></tr>
<tr><td>TESTINGINTERNAL > ALERTS > MANAGER</td></tr>
<tr><td>........Insights Alert Manager Search........</td></tr>
<tr><td>Insights Logout</td></tr>
<tr><td>........Logout Insights Application successfully ........</td></tr>
</table>